.content {
    display: flex;
    flex-direction: column;
    gap: 30px;
    position: sticky;
    top: 0px;
    left: 0px;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
}

